In [2]:
import pandas as pd
import numpy as np

In [14]:
col = ['Price','Rooms','location']

In [21]:
Data = pd.read_csv('/Users/Navaneethan/Documents/scrapping_new.csv',names=col,header = None,sep = ',')

In [135]:
pd.options.display.max_rows = 1000

In [53]:
Data['location'] = Data['location'].apply(lambda x : str(x))
Data['Rooms'] = Data['Rooms'].apply(lambda x : str(x))

In [ ]:
Data['Districts'] = Data['location'].apply(lambda x : x[-10:])

In [37]:
Data.head()

,Price,Rooms,location,Districts
0,"€2,000 monthly","3 bedrooms (1 single, 2 double), 2 bathrooms, ...","Homeville Court, Knocklyon, Dublin 16",Dublin 16
1,"€1,272 monthly","1 bedroom (1 double), 1 bathroom, furnished","Beech House, Carrickmines Green, Carrickmines,...",Dublin 18
2,"€1,600 monthly","1 bedroom (1 double), 1 bathroom, furnished","Rockview, Sandyford, Dublin 18",Dublin 18
3,"€1,725 monthly","3 bedrooms (3 double), 2 bathrooms, furnished","Old River Road, Blanchardstown, Dublin 15",Dublin 15
4,"€1,700 monthly","2 bedrooms (2 double), 1 bathroom, furnished","Hybreasal House, Kilmainham, Dublin 8",", Dublin 8"

In [130]:
Data['Bedroom_Single'] = np.where(Data['Rooms'].str.contains('1 single'), 1,
                                  (np.where(Data['Rooms'].str.contains('2 single'), 2,
                                            np.where(Data['Rooms'].str.contains('3 single'), 3, 0))))

In [140]:
Data['Bedroom_Double'] = np.where(Data['Rooms'].str.contains('1 double'), 1,
                                  (np.where(Data['Rooms'].str.contains('2 double'), 2,
                                            np.where(Data['Rooms'].str.contains('3 double'), 3, 0))))

In [138]:
Data['No_of_Bathrooms'] = np.where(Data['Rooms'].str.contains('1 bathroom'), 1,
                                  (np.where(Data['Rooms'].str.contains('2 bathrooms'), 2,
                                            np.where(Data['Rooms'].str.contains('3 bathrooms'), 3, 0))))

In [144]:
Data['studio_apartment'] = np.where(Data['Rooms'].str.contains('studio'), 1,0)

In [167]:
Data.head()

,Price,Rooms,location,Districts,Bedroom_Double,Bedroom_Single,No_Of_Bathrooms,Studio_Apartment
0,"€2,000 monthly","3 bedrooms (1 single, 2 double), 2 bathrooms, ...","Homeville Court, Knocklyon, Dublin 16",Dublin 16,2,1,2,0
1,"€1,272 monthly","1 bedroom (1 double), 1 bathroom, furnished","Beech House, Carrickmines Green, Carrickmines,...",Dublin 18,1,0,1,0
2,"€1,600 monthly","1 bedroom (1 double), 1 bathroom, furnished","Rockview, Sandyford, Dublin 18",Dublin 18,1,0,1,0
3,"€1,725 monthly","3 bedrooms (3 double), 2 bathrooms, furnished","Old River Road, Blanchardstown, Dublin 15",Dublin 15,3,0,2,0
4,"€1,700 monthly","2 bedrooms (2 double), 1 bathroom, furnished","Hybreasal House, Kilmainham, Dublin 8",Dublin 8,2,0,1,0

In [155]:
Data['Districts'] = Data['Districts'].apply(lambda x : re.sub(r"[^a-zA-Z0-9]+", ' ',x))

In [168]:
Data['Price'] = Data['Price'].apply(lambda x : re.sub(r"[^0-9]+", '',x))

In [175]:
Data['Price'] = Data['Price'].apply(lambda x : int(x))

,Price,Rooms,location,Districts,Bedroom_Double,Bedroom_Single,No_Of_Bathrooms,Studio_Apartment
32,450,"1 bedroom (1 double), 1 bath","The Richmond North Bruswick Street, Dublin-7, ...",Dublin 7,1,0,0,0
35,125,"2 bedrooms (2 twin), 1 bathroom, furnished","4 Windsor Road, Rathmines, Dublin 6",Dublin 6,0,0,1,0
83,285,"6 bedrooms (1 single, 2 double, 3 twin), 6 bat...","10 Warrington Place, Dublin 2",Dublin 2,2,1,0,0
92,270,"1 bedroom (1 single), 1 bathroom, furnished","Student 3 Bed Apartment Ensuite, Dublin 1",Dublin 1,0,1,1,0
93,260,"1 bedroom (1 single), 1 bathroom, furnished","Student Gold Ensuite, aparto Dorset Point, Dub...",Dublin 1,0,1,1,0
95,250,"1 bedroom (1 single), 1 bathroom, furnished","Student Silver Ensuite, Aparto Dorset Point, 1...",Dublin 1,0,1,1,0
96,210,"1 bedroom (1 twin), 1 bathroom, furnished","Student Twin Ensuite, aparto Dorset Point, Dub...",Dublin 1,0,0,1,0
98,285,"1 bedroom (1 single), 1 bathroom, furnished","Student Gold Ensuite, aparto Montrose, Dublin 4",Dublin 4,0,1,1,0
99,240,"1 bedroom (1 single), 1 bathroom, furnished","Student Bronze Ensuite, aparto Dorset Point, D...",Dublin 1,0,1,1,0
100,240,"1 bedroom (1 single), 1 bathroom, furnished","Student Bronze Ensuite, aparto Beckett House, ...",Dublin 1,0,1,1,0
101,245,"1 bedroom (1 single), 1 bathroom, furnished","Student Silver Ensuite, aparto Beckett House, ...",Dublin 1,0,1,1,0
102,270,"1 bedroom (1 single), 1 bathroom, furnished","Student Silver Ensuite, aparto Montrose, Dublin 4",Dublin 4,0,1,1,0
103,295,"1 bedroom (1 single), 1 bathroom, furnished","Student Platinum Ensuite, aparto Montrose, Dub...",Dublin 4,0,1,1,0
104,260,"1 bedroom (1 single), 1 bathroom, furnished","Student Gold Ensuite, aparto Beckett House, Du...",Dublin 1,0,1,1,0
107,270,"1 bedroom (1 single), 1 bathroom, furnished","Student Platinum Ensuite, aparto Beckett House...",Dublin 1,0,1,1,0
108,205,"1 bedroom (1 twin), 1 bathroom, furnished","Student Twin Ensuite, aparto Montrose, Dublin 4",Dublin 4,0,0,1,0
138,228,"1 bedroom (1 double), 1 bathroom, furnished","Ardcairn House, 8 Grangegorman Lower, Arran Qu...",Dublin 7,1,0,1,0
142,254,"1 bedroom (1 double), 1 bathroom, furnished","Mill Street, The Liberties, Dublin 8, Ireland,...",Dublin 8,1,0,1,0
143,275,"1 bedroom (1 double), 1 bathroom, furnished","Sarsfield Quay, Liffey St West, Arbour Hill, D...",Dublin 7,1,0,1,0
176,200,studio apartment to rent,"15 North Circular Road, North Circular Road, D...",Dublin 7,0,0,0,1
199,260,studio apartment to rent,"St Peters Road, Phibsborough, Dublin 7",Dublin 7,0,0,0,1
258,220,"1 bedroom (1 double), 1 bathroom, furnished","NELSOn, Dublin 1",Dublin 1,1,0,1,0
294,265,"1 bedroom (1 single), 1 bathroom, furnished","Synge Street, Portobello, Dublin 8",Dublin 8,0,1,1,0
295,375,"1 bedroom (1 double), 1 bathroom, furnished","Apt 6, 26 Marlborough Street, Dublin 1",Dublin 1,1,0,1,0
305,195,studio apartment to rent,"Kill Of The Grange, Dun Laoghaire, Co. Dublin",Co Dublin,0,0,0,1
311,340,"1 bedroom (1 double), 1 bathroom, furnished","Portobello, South Circular Road, Dublin 8",Dublin 8,1,0,1,0
349,450,"1 bedroom (1 double), 1 bathroom, furnished","Monksfield Carrickbrennan Road, Monkstown, Co....",Co Dublin,1,0,1,0
362,270,studio apartment to rent,"Portobello, South Circular Road, Dublin 8",Dublin 8,0,0,0,1
365,280,studio apartment to rent,"1 Cabra Park, Phibsborough, Dublin 7",Dublin 7,0,0,0,1
368,250,"1 bedroom (1 single), 1 bathroom, furnished","1 Clarence Street, Dun Laoghaire, Co. Dublin",Co Dublin,0,1,1,0
375,230,studio apartment to rent,"Nottingham Street, North Strand, Dublin 3",Dublin 3,0,0,0,1
383,250,"1 bedroom (1 single), 1 bathroom, furnished","Whitworth Road, D9, Glasnevin, Dublin 9",Dublin 9,0,1,1,0
384,220,"1 bedroom (1 single), 1 bathroom, furnished","Whitworth Road, Dublin 9, Glasnevin, Dublin 9",Dublin 9,0,1,1,0
394,325,studio apartment to rent,"Whitworth Road, Drumcondra, D9, Glasnevin, Dub...",Dublin 9,0,0,0,1
395,325,"1 bedroom (1 double), 1 bathroom, furnished","Whitworth Road, Wigan Road, Drumcondra D9, Gla...",Dublin 9,1,0,1,0
398,185,"3 bedrooms (1 single, 1 double, 1 twin), 1 bat...","244 Phibsborough Road, Dublin 7, IRELAND, Dubl...",Dublin 7,1,1,1,0
400,150,"1 bedroom (1 double), 1 bathroom, furnished","Aylmer Rd, Newcastle, Co. Dublin",Co Dublin,1,0,1,0
409,240,"3 bedrooms (1 single, 1 double, 1 twin), 1 bat...","25-29 Dominick Street Upper, Dublin 7",Dublin 7,1,1,1,0
410,180,"3 bedrooms (1 single, 1 double, 1 twin), 1 bat...","274 North Circular Road, Dublin 7",Dublin 7,1,1,1,0
414,300,studio apartment to rent,"Blessington street, Dublin 1",Dublin 1,0,0,0,1
415,350,"1 bedroom (1 twin), 1 bathroom, furnished","The Rise, Whitehall, Whitehall, Dublin 9",Dublin 9,0,0,1,0
425,255,studio apartment to rent,"Adelaide Road, Dublin 2",Dublin 2,0,0,0,1
428,300,"2 bedrooms (2 double), 1 bathroom, furnished","11 Camden Lock, South Dock Road, Ringsend, Rin...",Dublin 4,2,0,1,0
444,245,"1 bedroom (1 single), 1 bathroom, furnished","Mayor Street, IFSC, Dublin 1",Dublin 1,0,1,1,0
445,170,studio apartment to rent,"Carrickhill, Portmarnock, Co. Dublin",Co Dublin,0,0,0,1
459,245,"1 bedroom (1 double), 1 bathroom, furnished","Mayor Street, Dublin 1",Dublin 1,1,0,1,0